<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :firstname, "First Name:" %>
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname, "Last Name:" %>
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :contact_type, "Type:" %>
    <%= f.select :contact_type, @valid_types %>
  </p>
  <p>
    <%= f.label :cobrand_id, "Cobranded Contact" %>
    <%= f.select :cobrand_id, @valid_cobrands.map{|c| [c.name, c.id]}, 
          :include_blank => true %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
